@import url('<link href="https://fonts.googleapis.com/css2?family=muli:wght@100&display=swap" rel="stylesheet">');

*{
    box-sizing: border-box;
}

body{
    font-family: 'muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: rgb(209, 248, 248);
}
.container { 
    display: flex;
    width: 78vw;

}
.panel{
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color:rgba(255, 255, 255, 0.719);
    cursor: pointer;
    flex: 0.5;
    margin: 8px;
    position: relative;
    transition: flex 3s ease-in;
    
}

.panel h3 {
    font-size: 30px;
    position: absolute;
    bottom: 20px;
    margin: 0;
    opacity: 0;
    

}
.panel.active{
    flex: 5;
}
.panel.active h3{
    opacity: 1;
    transition: opacity 3s ease-in 0.8s;
}

@media (max-width : 480px){
    .container{
        width: 100vw;
    }
    .panel:nth-of-type(7),
    .panel:nth-of-type(6)
    {
        display: none;
    }
}